p {
    font-family: Roboto;
    margin: 0;
}

body {
    margin: 0;
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 25px;
    background-color: rgb(250, 250, 250);
}

a {
    text-decoration: none;
    color: inherit;
}