.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    width: 72px;
    background-color: white;
    z-index: 3;
    border-right: 1px solid rgb(220,220,220);
}

.sidebar-menu {
    height: 76px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-menu:hover {
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}

.sidebar-menu img {
    width:24px;
    margin-bottom: 4px;
}

.sidebar-menu div {
    font-family: Roboto, 'Arial';
    font-size: 10px;
}