.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
}

.video-thumbnail {
    position: relative;
}

.video-time {
    font-family: Roboto, 'Arial';
    font-size: 12px;
    position: absolute;
    bottom: 13px;
    right: 5px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 4px;
    border-radius: 3px;
}

.video-frame {
    width: 100%;
    margin-bottom: 5px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 36px 1fr;
    margin-top: 3px;
}


.video-profile {
    width: 100%;
    border-radius: 50%;
}

.video-desc {
    margin-left: 10px;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.video-info {
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom: 5px;
}

