.box {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 10px;
    
}

p {
    font-family: 'Arial';
    margin: 0;
    font-size: 13px;
}

.gray {
    color: rgb(130,130,130);
}

.msg {
    display: flex;
    flex-direction: row;
    margin: 10px;
    line-height: 20px;
    align-items: center;
    
}

.pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content {
    flex: 1;
    margin-left: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.head {
    font-size: 17px;
    font-weight: bold;
}

.mid {
    font-size: 14px;
    font-weight: bold;
}