.container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.profile {
}

.pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

p {
    font-family: 'Verdana';
    margin: 0;
    line-height: 25px;
}

.content {
    flex: 1;
    margin-left: 10px;
}

.info {
    display: flex;
    flex-direction: row;
}

.name {
    font-weight: bold;
    margin-right: 5px;
}

.tag {
    color: gray;
}

.bubble {
    border: 2px solid rgb(190, 190, 190);
    border-radius: 20px;
    display: flex;
    margin: 15px 0;
    align-items: center;
}

.video {
    width: 100px;
    height: 100px;
    background-color: rgb(190, 190, 190);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex-shrink: 0;
}

.video-content {
    padding: 10px;
}

.link {
    color: gray;
}