.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
}

@media (max-width: 500px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 501px) and (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 1100px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (min-width: 1100px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-thumbnail {
    position: relative;
}

.video-time {
    font-size: 12px;
    position: absolute;
    bottom: 13px;
    right: 5px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 4px;
    border-radius: 3px;
}

.video-frame {
    width: 100%;
    margin-bottom: 5px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 36px 1fr;
    margin-top: 3px;
}

.video-profile {
    width: 100%;
    border-radius: 50%;
    position: relative;
}

.video-desc {
    margin-left: 10px;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}


.video-info {
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom: 5px;
}

.channel {
    position: relative;
    display: flex;
    align-items: center;
}

.channel .popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    position: absolute;
    background-color: white;
    z-index: 3;
    bottom: -75px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.channel:hover .popup {
    opacity: 1;
}

.channel-profile {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.channel-info {
    line-height: 20px;
    margin-left: 5px;
}

.channel-name {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

.subs {
    color: rgb(96, 96, 96);
    font-size: 12px;
    white-space: nowrap;
}

