.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(165, 68, 201);
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

p {
    font-family: 'Verdana';
    margin: 0;
    line-height: 18px;
}

.home {
    padding: 10px;
    color: white;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.home:hover {
    background-color: white;
    color: rgb(165, 68, 201);
    
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    color: gray;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 800px;
    margin: 10px;
}

.search-bar:focus {
    outline: none;
    color: gray;
}

.download {
    padding: 5px 10px;
    border: 1px solid white;
    background-color: rgb(165, 68, 201);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 15px;
    box-shadow: 4px 5px 5px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.download:hover {
    background-color: white;
    color: rgb(165, 68, 201);
}

.download:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

.box {
    border: none;
    /* width: 300px; */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.alerts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.heading {
    border-radius: 10px;
    padding: 5px;
}

.btn {
    border: none;
    background-color: rgb(12, 117, 178);
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.pic {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
}

.desc {
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-size: 15px;
    font-weight: bold;
}

.content {
    color: gray;
    font-size: 13px;
}

.follow {
    padding: 6px 10px;
    background-color: rgb(0, 162, 255);
    border: none;
    border-radius: 5px;
    margin: 5px;
    color: white;
    margin-left: auto;
}