.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    height: 300px;
    width: 300px;
    position: relative;
    /* background-color: lightskyblue; */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 10px;
}

.pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.discount {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    color: white;
    right: 0;
    top: 10px;
    padding: 5px 7px;
}

.frame {
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    padding: 6px 10px;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    font-weight: 600;
}