.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    width: 72px;
    background-color: white;
    z-index: 3;
    border-right: 1px solid rgb(220,220,220);
}

.sidebar-menu {
    height: 76px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-menu:hover {
    background-color: rgb(217, 217, 217);
    cursor: pointer;
}

.sidebar-menu img {
    width:25px;
    margin-bottom: 4px;
}

.sidebar-menu div {
    font-size: 10px;
}

/* This is a comment */

/* Here, with the help of @media, we have resized the sidebar to have their menu name directly after the menu icon */
@media (min-width: 1300px) {

    body {
        padding-left: 188px;
    }

    .sidebar {
        width: 165px;
    }

    .sidebar-menu {
        flex-direction: row;
        justify-content: start;
        height: 70px
    }

    .sidebar-menu img {
        padding: 0 15px;
    }

    .sidebar-menu div {
        font-size: 12px;
    }

}